<div class="flex-center">
  <div class="search-box">
    <form (submit)="onSubmit(location.value)">
      <mat-form-field class="example-full-width search-box-input"
      [floatLabel]="'never'">
        <input matInput #location
               placeholder="Enter location...">
      </mat-form-field>
      <button mat-icon-button
              class="search-box-button"
              [disabled]="_loading"
              (click)="onSubmit(location.value)">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </div>
</div>

<div class="spinner">
  <mat-progress-spinner
    *ngIf="_loading"
    diameter="150"
    color="accent"
    mode="indeterminate">
  </mat-progress-spinner>
</div>

<app-info-box *ngIf="!_loading && currentWeatherData"
              [currentWeatherData]="currentWeatherData"
              [forecastData]="forecastData"
              [historyData]="historyData">
</app-info-box>

