/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.search-box{
  position: absolute;
  width: 700px;
  height: 50px;
  left: calc(50% - 700px/2 + 16px);
  top: 40px;

  background: #F2F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  font-size: 20px;
}

.search-box-table{
  left: 10px;
  bottom: 15px;
  position: relative;
  width: 95%;
}

.search-box-text{
  position: relative;
  width: 100%;
}

.info-box-primary{
  position: absolute;
  top: 140px;
  width: 30%;
  height: 320px;
  left: 5%;


  background: #E1BEE7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.info-box-secondary{
  position: absolute;
  top: 140px;
  width: 55%;
  height: 320px;
  right: 5%;

  background: #F2F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.info-box{
   width: 90%;
 }

.weather-by-day-box{
  position: absolute;
  width: 90%;
  height: 170px;
  left: 5%;
  top: 500px;

  background: #F2F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.w-icon{
  display: inline;
  bottom: 12px;
  width: 5%;
  margin-left: 1.5%;
}

.w-input{
  display: inline;
  bottom: 12px;
  width: 80%;
  margin: 0 1.5%;
}

.w-button{
  display: inline;
  bottom: 12px;
  width: 10%;
  text-align: center;
}

.inline-box {
  display: inline-block;
  width: 125px;
  height: 100px;
  margin: 1em;
}



