/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.search-box{
  position: absolute;
  width: 700px;
  height: 50px;
  left: calc(50% - 700px/2 + 16px);
  top: 40px;

  background: #F2F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  font-size: 20px;
}

.search-box-table{
  left: 10px;
  bottom: 15px;
  position: relative;
  width: 95%;
}

.search-box-text{
  position: relative;
  width: 100%;
}

.info-box-primary{
  position: absolute;
  top: 140px;
  width: 33%;
  height: 235px;
  left: 10%;

  background: #F2F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.info-box-secondary{
  position: absolute;
  top: 140px;
  width: 43%;
  height: 235px;
  right: 10%;
  text-align: center;

  background: #F2F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.info-box{
   width: 90%;
 }

.weather-by-day-box{
  position: absolute;
  width: 80%;
  height: 170px;
  left: 10%;
  top: 420px;

  background: #F2F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.w-icon{
  display: inline;
  bottom: 12px;
  width: 5%;
  margin-left: 1.5%;
}

.w-input{
  display: inline;
  bottom: 12px;
  width: 80%;
  margin: 0 1.5%;
}

.w-button{
  display: inline;
  bottom: 12px;
  width: 10%;
  text-align: center;
}

.inline-box {
  display: inline-block;
  width: 125px;
  height: 100px;
  margin: 20px 40px;
}

.current-weather-header{
  text-align: center;
  margin-top: 20px;
}

.current-weather-header-name{
  font-size: 24px;
  font-weight: bold;
}

.current-weather-header-location{
  font-size: 16px;
  margin-top: 5px;
}

.current-weather-temp{
  position: absolute;
  top: 100px;
  left: 100px;
  font-size: 36px;
  font-weight: bold;
}

.current-weather-icon{
  margin-top: 10px;
  margin-left: 20px;
}

.current-weather-feelslike{
  position: absolute;
  top: 110px;
  left: 245px;
  font-size: 16px;
}

.current-weather-description{
  position: absolute;
  top: 92px;
  left: 245px;
  font-size: 16px;
}

.current-weather-char-primary{
  display: inline-block;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 18px;
}

.current-weather-char{
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
}

.current-weather-last-update{
  position: absolute;
  right: 40px;
  top: 195px;
  font-size: 18px;
}

.forecast-date{
  display: block;
  font-size: 18px;
  margin-top: 5px;
}

.forecast-day{
  display: block;
  font-size: 24px;
  font-weight: bold;
}

.forecast-temp-avg{
  display: block;
  font-size: 26px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
}

.forecast-temp{
  display: block;
  margin: 5px 0px;
}

.forecast-temp-max{
  font-size: 26px;
  font-weight: bold;
}

.forecast-temp-min{
  font-size: 18px;
}

.forecast-char{
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 9px;
  text-align: left;
}

body{
  background: url("https://images.wallpapersden.com/image/download/4k-natural-gradient_67713_3840x2160.jpg");
  background-size: 100%;
}






